@charset "utf-8";

/*
    Personal Project 

    Style Sheet
     Author: Caleb Snow
     Date: 2/3/19

    Filename: cs_styles.css

*/


/* Structural Styles */

html {
    background: rgb(50, 50, 50);
}

nav {}


/* Mobile Styles */


/* Desktop Styles */
@media screen and (min-width: 800px) {}